<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a:</label>
    <label class="radio-inline">
      <input type="radio" class="mr-3" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
        <input type="radio" class="mr-3" value="female" formControlName="gender">Female
      </label>
  </div>



  <div class="form-group">
    <input type="text" 
           [ngClass]=" {'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched} "
           class="form-control" 
           formControlName="username" 
           placeholder="Username">
    <div class="invalid-feedback"> Please choose a username </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="knowAs" placeholder="knowAs" >
  </div>

  <div class="form-group">
      <input type="text" class="form-control" formControlName="dateOfBirth" placeholder="dateOfBirth" bsDatepicker [bsConfig]="bsConfig">  
  </div>

  <div class="form-group">
      <input type="text" class="form-control" formControlName="city" placeholder="city" >  
  </div>

  <div class="form-group">
      <input type="text" class="form-control" formControlName="country" placeholder="country" >  
  </div>



  <div class="form-group">
      <input type="password" 
             [ngClass]=" {'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched } "
             class="form-control"  
             formControlName="password" 
             placeholder="Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched"> Please choose a password </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched"> minlength </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched"> maxlength </div>
  </div>

  <div class="form-group">
      <input type="password" 
             [ngClass]=" {'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched } "
             class="form-control"  
             formControlName="confirmPassword" 
      placeholder="Confirm Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched"> Please choose a password </div>
  </div>

  <div class="form-group text-center">
      <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
      <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>

<p>Form value: {{ registerForm.value | json }}</p>
<p>Form value: {{ registerForm.status | json }}</p>